{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}
{% load account_components %}

{% block title %}Topplistan - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/topchart.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/userlink.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Topplistan</h1>
    <form action="{% url 'topchart:index' %}" method="get" id="filter-container" class="topchart-search-form">
        <input class="filter filter-search form-control" placeholder="LiU-id eller namn" type="text"
               aria-label="LiU-id eller namn" aria-describedby="basic-addon2" name="search"
               value="{{ filter_search }}" id="filter-name">
        <button class="btn btn-primary filter-button" type="submit">Sök</button>
    </form>

    <div class="topchart">
        {% for user in users %}
            <div class="topchart-user-container">
                <a href="{% url 'accounts:profile' user.username %}">
                    <div class="topchart-user">
                        <h3 class="topchart-user-username">
                            <span class="badge">#{{ forloop.counter }}</span> <span class="badge">{{ user.points }}<span class="lowercase">p</span></span> {{ user }}
                        </h3>
                        {% if user.motto %}
                            <div class="topchart-user-motto">
                                <i>"{{ user.motto }}"</i>
                            </div>
                        {% endif %}
                    </div>
                </a>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
