body {
    color: #333;
}

div .nav-item {
    margin: 0;
}

.nav-item {
    display: flex; !important
}

.nav-link {
    margin: 0 5px;
}

.nav-link:first-child {
    margin-left: 0;
}

form > .nav-link {
    margin-left: 5px !important;
}

.nav-link.active {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

.lowercase {
    text-transform: lowercase;
}
