{% extends "admin/index.html" %}
{% load sass_tags %}
{% load static from staticfiles %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'sass/admin-extra.sass' %}">
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block branding %}
    {{ block.super }}
{% endblock branding %}


{% block content %}
    <div class="content-extra">
        {% if request.user.is_superuser %}
            <div class="module module-core">
                <table>
                    <caption>
                        Core
                    </caption>
                    <tbody>
                    <tr>
                        <th scope="row"><a href="{% url 'admin:constance_config_changelist' %}">Project
                            configuration</a></th>
                        <td></td>
                        <td><a href="{% url 'admin:constance_config_changelist' %}" class="changelink">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="{% url 'admin:fadderanmalan_job_changelist' %}">Jobs</a></th>
                        <td><a href="{% url 'admin:fadderanmalan_job_add' %}" class="addlink">Add</a></td>
                        <td><a href="{% url 'admin:fadderanmalan_job_changelist' %}" class="changelink">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="{% url 'admin:accounts_user_changelist' %}">Users</a></th>
                        <td><a href="{% url 'admin:accounts_user_add' %}" class="addlink">Add</a></td>
                        <td><a href="{% url 'admin:accounts_user_changelist' %}" class="changelink">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="{% url 'admin:fadderanmalan_type_changelist' %}">Types</a></th>
                        <td><a href="{% url 'admin:fadderanmalan_type_add' %}" class="addlink">Add</a></td>
                        <td><a href="{% url 'admin:fadderanmalan_type_changelist' %}" class="changelink">Change</a></td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="{% url 'admin:fadderanmalan_equipment_changelist' %}">Equipments</a>
                        </th>
                        <td><a href="{% url 'admin:fadderanmalan_equipment_add' %}" class="addlink">Add</a></td>
                        <td><a href="{% url 'admin:fadderanmalan_equipment_changelist' %}" class="changelink">Change</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><a href="{% url 'admin:fadderanmalan_equipmentownership_changelist' %}">Equipment
                            ownerships</a></th>
                        <td><a href="{% url 'admin:fadderanmalan_equipmentownership_add' %}" class="addlink">Add</a>
                        </td>
                        <td><a href="{% url 'admin:fadderanmalan_equipmentownership_changelist' %}" class="changelink">Change</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="content-extra bottom"></div>
    </div>
    {{ block.super }}
{% endblock content %}