{% extends "base.html" %}
{% load static from staticfiles %}
{% load components %}

{% block title %}Redigera min profil - {% endblock title %}

{% block head %}
    {% load_sass 'edit_profile' %}
    {% load_sass 'form' %}
{% endblock head %}

{% block content %}
    <h1>Redigera min profil</h1>
    <form class="login-form" action="{% url 'accounts:edit_profile' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Uppdatera profil" class="btn btn-primary">
    </form>
{% endblock content %}
