{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}Redigera min profil - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/edit_profile.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/form.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Redigera min profil</h1>
    <form class="edit-profile-form" action="{% url 'accounts:edit_profile' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Uppdatera profil" class="btn btn-primary">
    </form>
{% endblock content %}
