{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}

{% block title %}Logga in - {% endblock title %}

{% block head %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="{% sass_src 'sass/login.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/form.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/mobile/m_form.sass' %}">
{% endblock head %}


{% block content %}
    <form class="login-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="Logga in" class="btn btn-primary">
    </form>
{% endblock content %}
