{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}{{ user.username }}:s profil - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/profile.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/equipment_ownership.sass' %}">
{% endblock head %}

{% block content %}
    {% if request.user.is_staff %}
        <a href="{% url 'admin:accounts_user_change' user.id %}" target="_blank">Redigera användare</a>
    {% endif %}
    <div class="header">
        <h1>
            <a href="{% url 'accounts:edit_profile' %}" class="nounderline">
                <i class="fas fa-user-edit" data-toggle="tooltip"
                   data-placement="bottom" title="Redigera min profil"></i>
            </a>
            {{ user.username }} - {{ user.points }}<span class="lowercase">p</span>
        </h1>
    </div>
    <a href="{% url 'job_calendar:get_calendar' user.username %}">Din kalender</a>. Infoga länken i t.ex.
    Google Calendar.
    <h2>Motto</h2>
    {% if user.motto %}
        <i>"{{ user.motto }}"</i>
    {% else %}
        <i>Du har inte satt något motto än. <a href="{% url 'accounts:edit_profile' %}">Sätt ditt motto här.</a></i>
    {% endif %}
    <h2>Utlämnad utrustning</h2>
    {% for equipment_ownership in user.equipments.all %}
        {% equipment_ownership_component equipment_ownership %}
    {% endfor %}
    <h2>Registrerade jobb</h2>
    {% for day, jobs in day_grouped.items %}
        <h3 class="job-day">{{ day }}</h3>
        <div class="joblist">
            {% for job in jobs %}
                {% job_component job %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
