{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}
{% load webpush_notifications %}

{% block title %}{{ user.username }}:s profil - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/profile.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/equipment_ownership.sass' %}">
    {% webpush_header %}
{% endblock head %}

{% block content %}
    <button id="webpush-subscribe-button" class="btn btn-primary" data-url="{% url 'save_webpush_info' %}">
        Fråga om pushnotiser
    </button>
    {% if request.user.is_staff %}
        <a href="{% url 'admin:accounts_user_change' user.id %}" target="_blank">Redigera användare</a>
    {% endif %}
    <div class="header">
        <h1>
            <a href="{% url 'accounts:edit_profile' %}" class="nounderline">
                <i class="fas fa-user-edit" data-toggle="tooltip"
                   data-placement="bottom" title="Redigera min profil"></i>
            </a>
            {{ user }}
        </h1>
        <small>Poäng: {{ user.points }}<span class="lowercase">p</span></small>
    </div>
    <a href="{% url 'job_calendar:get_calendar' user.username %}">Din kalender</a>. Infoga länken i t.ex.
    Google Calendar.
    <h2>Motto</h2>
    {% if user.motto %}
        <i>"{{ user.motto }}"</i>
    {% else %}
        <i>Du har inte satt något motto än. <a href="{% url 'accounts:edit_profile' %}">Sätt ditt motto här.</a></i>
    {% endif %}
    <h2>Utlämnad utrustning</h2>
    {% for equipment_ownership in non_returned_equipment_ownerships %}
        {% equipment_ownership_component equipment_ownership %}
    {% empty %}
        <i>Du har ingen utlämnad utrustning</i>
    {% endfor %}
    <h2>Pågående byten</h2>
    <h3>Inkommande</h3>
    {% for received_trade in request.user.get_active_received_trades %}
        <p>
            <i class="fas fa-exclamation" data-toggle="tooltip"
               data-placement="bottom" title="Inkommande byte"></i>
            <a href="{% url 'trade:see' received_trade.sender.username %}">
                Byte från {{ received_trade.sender.username }}
            </a>
        </p>
    {% empty %}
        <i>Du har inga inkommande bytesförfrågningar</i>
    {% endfor %}
    <h3>Utgående</h3>
    {% for sent_trade in request.user.get_active_sent_trades %}
        <p>
            <a href="{% url 'trade:see' sent_trade.receiver.username %}">
                Byte till {{ sent_trade.receiver.username }}
            </a>
        </p>
    {% empty %}
        <i>Du har inga utgående bytesförfrågningar</i>
    {% endfor %}
    <h2>Registrerade jobb</h2>
    {% for day, jobs in day_grouped.items %}
        <h3 class="job-day">{{ day }}</h3>
        <div class="joblist">
            {% for job in jobs %}
                {% job_component job %}
            {% endfor %}
        </div>
    {% empty %}
        <i>
            Du har inte registrerat dig på några jobbpass än.
            <a href="{% url 'fadderanmalan:job_list' %}">Hitta jobbpass här.</a>
        </i>
    {% endfor %}
    <h2>Köplatser</h2>
    <h3>Jobb du köar in till</h3>
    {% for eq in request.user.enter_queue.all %}
        {% job_component eq.job %}
    {% empty %}
        <i>Du köar inte in till några jobb.</i>
    {% endfor %}
    <h3>Jobb du köar för att lämna</h3>
    {% for lq in request.user.leave_queue.all %}
        {% job_component lq.job %}
    {% empty %}
        <i>Du köar inte för att lämna några jobb.</i>
    {% endfor %}
{% endblock content %}
