{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}

{% block title %}{{ fadder.user.username }}'s profile - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/profile.sass' %}">
{% endblock head %}

{% block content %}
    <div class="header">
        <h1>{{ fadder.user.username }} - {{ fadder.points }}<span class="lowercase">p</span></h1>
        <small>{{ fadder.user.email }}</small>
    </div>
    <h2>Registrerade jobb</h2>
    {% for day, jobs in day_grouped.items %}
        <h4>{{ day }}</h4>
        {% for job in jobs %}
            <a href="{% url 'fadderanmalan:jobsignup_detail' job.slug %}">{{ job.name }}</a><br>
        {% endfor %}
    {% endfor %}
{% endblock content %}
