{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}{{ user.username }}:s profil - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/profile.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/equipment_ownership.sass' %}">
{% endblock head %}

{% block content %}
    {% if request.user.is_staff %}
        <a href="{% url 'admin:accounts_user_change' user.id %}" target="_blank">Redigera användare</a>
    {% endif %}
    <div class="header">
        <h1>
            {% if request.user.is_authenticated %}
                {% if not trade %}
                    <a href="{% url 'trade:start' user.username %}" class="nounderline">
                        <i class="fas fa-sync-alt" data-toggle="tooltip"
                           data-placement="bottom" title="Byt jobb"></i>
                    </a>
                {% else %}
                    <a href="{% url 'trade:see' user.username %}" class="nounderline">
                        <i class="fas fa-sync-alt" data-toggle="tooltip"
                           data-placement="bottom" title="Gå till aktivt byte"></i>
                    </a>
                {% endif %}
            {% endif %}
            {{ user }}
        </h1>
        <small>Poäng: {{ user.points }}<span class="lowercase">p</span></small>
    </div>
    <h2>Motto</h2>
    {% if user.motto %}
        <i>"{{ user.motto }}"</i>
    {% else %}
        <i>Användaren har inte satt något motto.</i>
    {% endif %}
    <h2>Registrerade jobb</h2>
    {% for day, jobs in day_grouped.items %}
        <h3 class="job-day">{{ day }}</h3>
        <div class="joblist">
            {% for job in jobs %}
                {% job_component job %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
