{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}Bytesförfrågan från {{ sender.username }} - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/trade_complete.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Bytesförfrågan från {{ sender.username }}</h1>

    <div class="trade">
        <div class="trade-sent">
            <h3>Deras jobb</h3>
            {% for job_user in trade.sent.all %}
                <div class="trade-job">
                    {% job_component job_user.job %}
                </div>
            {% empty %}
                <i>Inga jobb</i>
            {% endfor %}
        </div>
        <div class="trade-received">
            <h3>Dina jobb</h3>
            {% for job_user in trade.requested.all %}
                <div class="trade-job">
                    {% job_component job_user.job %}
                </div>
            {% empty %}
                <i>Inga jobb</i>
            {% endfor %}
        </div>
    </div>

    <form action="{% url 'trade:complete' sender_username=sender.username %}" method="post">
        {% csrf_token %}
        <button type="submit" value="false" name="accept" class="btn btn-primary">Avslå bytet</button>
        <button type="submit" value="true" name="accept" class="btn btn-primary">Acceptera bytet</button>
    </form>
{% endblock content %}
