{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}Bytesförfrågan från {{ other.username }} - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/trade_complete.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
{% endblock head %}

{% block content %}
    {% block header %}<h1>Bytesförfrågan från {{ other.username }}</h1>{% endblock header %}

    <div class="trade">
        <div class="trade-sent">
            <h3>{% block requested_title %}Dina jobb{% endblock %}</h3>
            {% for job_user in trade.requested.all %}
                <div class="trade-job">
                    {% job_component job_user.job %}
                </div>
            {% empty %}
                <i>Inga jobb</i>
            {% endfor %}
        </div>
        <div class="trade-received">
            <h3>{% block sent_title %}Deras jobb{% endblock %}</h3>
            {% for job_user in trade.sent.all %}
                <div class="trade-job">
                    {% job_component job_user.job %}
                </div>
            {% empty %}
                <i>Inga jobb</i>
            {% endfor %}
        </div>
    </div>

    <form action="{% url 'trade:change' other.username %}" method="post">
        {% csrf_token %}
        {% block actions %}
            <button type="submit" name="deny" class="btn btn-primary">Avslå bytet</button>
            <button type="submit" name="accept" class="btn btn-primary">Acceptera bytet</button>
        {% endblock actions %}
    </form>
{% endblock content %}
