{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}Byteskonfirmation - {% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
    <h1>Ditt byte med {{ other.username }}</h1>
    {% if accepted %}
        <p>Bytet har genomförts.</p>
    {% elif denied %}
        <p>Bytet har avslagits.</p>
    {% elif canceled %}
        <p>Du har avbrutit bytesförfrågan.</p>
    {% endif %}
{% endblock content %}
