{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block title %}Byt jobb med {{ target }} - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/trade_start.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Byt jobb med {{ receiver }}</h1>

    <p>
        Observera att bytet kommer att tas bort automatiskt om du avregistrerar dig från något jobb du erbjuder
        eller registrerar dig på något du förfrågar, alternativ om den du skickar förfrågan till gör det samma.
    </p>

    <form action="{% url 'trade:start' receiver_username=receiver.username %}" method="post">
        {% csrf_token %}
        {{ trade_form.non_field_errors }}

        {% for hidden_field in trade_form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        {% for field in trade_form %}
            <h2>{{ field.label }}</h2>
            {% for job in field.field.choices %}
                <div class="trade-job">
                    <input type="checkbox" name="{{ field.name }}" value="{{ job.id }}">
                    {% job_component job %}
                </div>
            {% empty %}
                <p><i>Finns inga jobb att erbjuda.</i></p>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Skicka bytesförfrågan</button>
    </form>
{% endblock content %}
