<a href="{{ job.local_url }}"
   class="job {{ job.full_status }} {{ job.locked_status }} nounderline">
    <div class="job-title-container">
        <h3 class="job-title">
            {% if request.user.is_authenticated and request.user in job.users.all %}
                <i class="far fa-check-circle"
                   data-toggle="tooltip" data-placement="left" title="Du är registrerad på jobbet">
                </i>
            {% endif %}
            {{ job.name }}
        </h3>
        <div class="job-status">
            {% if job.has_enter_queue %}
                <i class="fas fa-caret-square-right"
                   data-toggle="tooltip" data-placement="left" title="Faddrar köar för jobbet">
                </i>{{ " " }}
            {% endif %}
            {% if job.is_locked %}
                <i class="fas fa-lock"
                   data-toggle="tooltip" data-placement="left" title="Jobbet är låst">
                </i>{{ " " }}
            {% endif %}
            {{ job.users.count }}/{{ job.slots }} - {{ job.points }}p
        </div>
    </div>
    <div class="job-body">
        {{ job.description }}
    </div>
</a>
