#filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filter-container > * {
    margin: 10px;
}

#filter-name {
    max-width: 250px;
    padding: 26px 32px;
}

.filter {
    background-color: #f7f7f9;
    padding: 5px 15px;
}

.filter-checkbox, .filter-select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-checkbox > div:first-of-type {
    margin-right: 10px;
}

.filter-select > label {
    margin: 0 10px 0 0;
}

.form-check *:hover {
    cursor: pointer;
}

.filter-button {
    padding: 10px 25px;
}

.day {
    margin-top: 30px;
}

.job {
    display: block;

    max-width: 500px;

    overflow-y: hidden;

    background-color: #63bf69;
    color: white;

    margin: 10px;
    padding: 10px;

    border-radius: 1px;

    transition: all .2s !important;
}

.job:hover {
    text-decoration: none;

    box-shadow: 0 1px 2px 0 #222;
}

.job.full, .job.locked {
    background-color: #9c9c9c;
}

.job-title {
    position: relative;
}

.job-title i {
    color: white;
}

.job-status {
    color: white;
    position: absolute;

    right: 0;
    top: 0;
}

.job-title > h3 {
    font-size: 140%;
}

.job-title > * {
    display: inline;
}

.job-body {
    color: white;
}
