#filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filter-container > * {
    margin: 10px;
}

#filter-name {
    max-width: 250px;
    padding: 26px 32px;
}

.filter {
    background-color: #f7f7f9;
    padding: 0 0 0 15px;
    height: 52px;
}

.filter-select {
    padding: 0 15px;
}

.filter-checkbox-container, .filter-select {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-checkbox-container > div:first-of-type {
    margin-right: 10px;
}

.filter-checkbox-caret {
    position: absolute;
    height: 100%;
    transition: left .1s ease-in, width .05s linear, background-color .1s linear, opacity .1s linear;
    width: 52px;
    left: 0;
    opacity: 0;
}

.filter-checkbox-caret.noanimate {
    transition: none;
}

.filter-select > label {
    margin: 0 10px 0 0;
}

.filter-button {
    padding: 10px 25px;
}

.filter-checkbox {
    position: relative;
    height: 100%;
}

.filter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter-checkbox label {
    margin: 0;
    height: 100%;
}

.filter-checkbox-label {
    position: relative;
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    font-size: 120%;
    height: 100%;

    z-index: 2;

    transition: all .1s linear;
}

.filter-checkbox-label:hover {
    cursor: pointer;
}

.filter-checkbox input:checked + .filter-checkbox-label-no {
    color: white;
}

.filter-checkbox input:checked + .filter-checkbox-label-yes {
    color: white;
}

.filter-checkbox-label-yes::before {
    content: "JA";
}

.filter-checkbox-label-no::before {
    content: "NEJ";
}

.day {
    margin-top: 30px;
}

.job {
    display: block;

    max-width: 500px;

    overflow-y: hidden;

    background-color: #63bf69;
    color: white;

    margin: 10px;
    padding: 10px;

    border-radius: 1px;

    transition: all .2s !important;
}

.job:hover {
    text-decoration: none;

    box-shadow: 0 1px 2px 0 #222;
}

.job.full, .job.locked {
    background-color: #9c9c9c;
}

.job-title {
    position: relative;
}

.job-title i {
    color: white;
}

.job-status {
    color: white;
    position: absolute;

    right: 0;
    top: 0;
}

.job-title > h3 {
    font-size: 140%;
}

.job-title > * {
    display: inline;
}

.job-body {
    color: white;
}
