{% extends 'admin/change_form.html' %}

{% block content %}
    <script>
        const $ = django.jQuery;

        $(function() {
            const $startInput = $("#id_start_date");
            const $endInput = $("#id_end_date");

            $startInput.on("input change", function(e) {
                $endInput.val(this.value);
            });
        });
    </script>
    {{ block.super }}
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        {% if "fadderanmalan.change_job" in request.user.get_all_permissions %}
            {% if original.has_enter_queue and not original.full %}
                <input type="submit" name="_dequeue" value="Dequeue">
            {% else %}
                <input type="submit" name="_dequeue" value="Dequeue" disabled>
            {% endif %}
        {% endif %}
        <input type="submit" name="_notify_registered" value="Notify registered">
    </div>
    {{ block.super }}
{% endblock %}