@import mobile/m_base

body
    color: #333

.nav-item
    display: flex !important
    margin: 0

.navbar-brand
    padding: .5em 1em
    margin-right: .5em
    border-radius: 5px

    transition: all .1s linear

    &:hover
        background-color: #333
        color: white !important

.nav-link
    margin: 0 5px
    &:first-child
        margin-left: 0

span.nav-link:hover
    text-decoration: none
    color: rgba(0, 0, 0, .3) !important
    cursor: default

form > .nav-link
    margin-left: 5px !important

.nav-link
    &.active, &:hover
        text-decoration: underline

.content
    padding: 20px

.lowercase
    text-transform: lowercase
