@import m_job
@import d_job


.job-day
    margin-top: 30px

.job
    display: block
    max-width: 500px
    overflow-y: hidden
    margin: 10px
    padding: 10px
    transition: all .2s !important
    border-radius: 4px
    border: 2px solid black
    &:hover
        text-decoration: none
        box-shadow: 0 1px 3px 0 #222

.job-title
    position: relative

.job-status
    position: absolute
    right: 0
    top: 0

.job-title
    > h3
        font-size: 140%
    > *
        display: inline

