@import mobile/m_topchart

.topchart
    display: flex
    flex-direction: row

    align-items: flex-start

    .userlink
        margin: 0
        border-bottom-left-radius: 0
        border-top-left-radius: 0

.topchart-counter
    padding: 10px

    margin-left: 15px
    font-weight: bold

    display: inline-block

    border: 2px solid black
    border-right: none
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
