{% load static from staticfiles %}
{% load startswith from filters %}

<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}STABENs fadderjobbssida{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/lux.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock head %}
</head>
<body>
<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
{% block scripts %}{% endblock scripts %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">Fadderjobb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{% url 'fadderanmalan:jobsignup' %}"
               class="nav-item nav-link{% if request.resolver_match.view_name|startswith:'fadderanmalan:jobsignup' %} active{% endif %}">
                Jobbanmälan
            </a>
            <a href="{% url 'fadderanmalan:topchart' %}"
               class="nav-item nav-link{% if request.resolver_match.view_name|startswith:'fadderanmalan:topchart' %} active{% endif %}">
                Topplistan
            </a>
        </div>
        <div class="navbar-nav">
            <div class="nav-item">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="nav-link" target="_blank">
                            Admin
                        </a>
                        <span class="nav-link">/</span>
                    {% endif %}
                    <a href="{% url 'accounts:my_profile' %}"
                       class="nav-link{% if request.resolver_match.view_name|startswith:'accounts:my_profile' %} active{% endif %}">
                        Min profil ({{ user.username }})
                    </a>
                    <span class="nav-link">/</span>
                    <form id="logout-form" action="{% url 'accounts:logout' %}" method="post">
                        <a class="nav-link" onclick="document.getElementById('logout-form').submit()" href="#">
                            Logga ut
                        </a>
                        {% csrf_token %}
                    </form>
                {% else %}
                    <a href="{% url 'accounts:login' %}"
                       class="nav-link{% if request.resolver_match.view_name|startswith:'accounts:login' %} active{% endif %}">
                        Logga in
                    </a>
                    <span class="nav-link">/</span>
                    <a href="{% url 'accounts:registration' %}"
                       class="nav-link{% if request.resolver_match.view_name|startswith:'accounts:registration' %} active{% endif %}">
                        Registrera
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="content">
    {% block content %}{% endblock content %}
</div>

</body>
</html>
