{% load static from staticfiles %}
{% load startswith from filters %}
{% load sass_tags %}
{% load components %}

<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="{% if request.COOKIES.darkmode == "true" %}#000000{% else %}#ffffff{% endif %}">

    <title>{% block title %}{% endblock title %}Fadderjobb</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/lux.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'hamburgers/hamburgers.css' %}">


    <link rel="stylesheet" href="{% sass_src 'sass/base.sass' %}">

    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% block head %}{% endblock head %}
</head>
<body class="{% if request.COOKIES.darkmode == "true" %}darkmode{% endif %}">
<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js-cookie/js-cookie-2.2.0.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% block scripts %}{% endblock scripts %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nounderline" href="/">Fadderjobb</a>
    <button class="navbar-toggler hamburger hamburger--collapse" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        {#         <i class="fas fa-bars"></i>#}
        <svg class="ham hamRotate ham8" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
            <path
                    class="line top"
                    d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
            <path
                    class="line middle"
                    d="m 30,50 h 40"></path>
            <path
                    class="line bottom"
                    d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
        </svg>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{% url 'fadderanmalan:jobsignup' %}"
               class="nav-item nav-link{% if request.resolver_match.view_name|startswith:'fadderanmalan:jobsignup' %} active{% endif %}">
                Jobbanmälan
            </a>
            <a href="{% url 'fadderanmalan:topchart' %}"
               class="nav-item nav-link{% if request.resolver_match.view_name|startswith:'fadderanmalan:topchart' %} active{% endif %}">
                Topplistan
            </a>
        </div>
        <div class="navbar-nav">
            <div class="nav-item">
                <a class="nav-link darkmode-toggler">
                    {% if request.COOKIES.darkmode == "true" %}Dag{% else %}
                        Natt{% endif %}</a>
                <span class="nav-link darkmode-separator">/</span>
            </div>
            <div class="nav-item">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <a href="{% url 'admin:index' %}" class="nav-link" target="_blank">
                            Admin
                        </a>
                        <span class="nav-link">/</span>
                    {% endif %}
                    <a href="{% url 'accounts:profile' request.user.username %}"
                       class="nav-link{% if request.resolver_match.view_name|startswith:'accounts:profile' and request.resolver_match.kwargs.liu_id == request.user.username %} active{% endif %}">
                        Min profil ({{ request.user.username }})
                    </a>
                    <span class="nav-link">/</span>
                    <form id="logout-form" action="{% url 'accounts:logout' %}" method="post">
                        <a class="nav-link" onclick="document.getElementById('logout-form').submit()" href="#">
                            Logga ut
                        </a>
                        {% csrf_token %}
                    </form>
                {% else %}
                    <a href="{% url 'accounts:login' %}"
                       class="nav-link{% if request.resolver_match.view_name|startswith:'accounts:login' %} active{% endif %}">
                        Logga in
                    </a>
                    <span class="nav-link">/</span>
                    <a href="{% url 'accounts:registration' %}"
                       class="nav-link{% if request.resolver_match.view_name|startswith:'accounts:registration' %} active{% endif %}">
                        Registrera
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% if messages %}
    <div class="messages">
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger" role="alert">
        {% else %}
            <div class="alert alert-{{ message.tags }}">
        {% endif %}
    {{ message|safe }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="content">
    {% block content %}{% endblock content %}
</div>

</body>
</html>
