{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/index.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Välkommen</h1>

    <p>
        ...till STABENs fadderjobbsportal! Här kan du anmäla dig till fadderjobb, se vilka pass andra faddrar har tagit,
        byta jobb med andra faddrar, och mycket mer.
    </p>

    {% if not request.user.is_authenticated %}
        <p>
            Innan du börjar använda portalen måste du <a href="{% url 'accounts:login' %}">logga in</a> och följa
            instruktionerna.
        </p>
    {% endif %}

    <p>
        Innan du registrerar dig på jobb måste du <a href="{% url 'guide' %}">läsa jobbguiden.</a>
        {% if request.user.read_guide %}
            Det har ju du varit så duktig och redan gjort, men den kan alltid vara bra att dubbelkolla!
        {% endif %}
    </p>

    <p>
        Hitta planerad funktionalitet, bakgrund och källkod i projektets
        <a href="https://github.com/RoosDaniel/Fadderjobb" target="_blank">GitHub-repo</a>.
    </p>
{% endblock content %}
