{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}
    <h1>Välkommen</h1>

    <p>
        ...till STABENs fadderjobbsida! Här kan du anmäla dig till fadderjobb och se vilka pass andra faddrar har tagit.
    </p>

    <p>
        Hitta planerad funktionalitet, bakgrund och källkod på projektets
        <a href="https://github.com/RoosDaniel/Fadderjobb" target="_blank">GitHub-repo</a>.
    </p>
{% endblock content %}
