{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load components %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/index.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Välkommen</h1>

    <p>
        ...till STABENs fadderjobbsida! Här kan du anmäla dig till fadderjobb och se vilka pass andra faddrar har tagit.
    </p>

    <p>
        Hitta planerad funktionalitet, bakgrund och källkod i projektets
        <a href="https://github.com/RoosDaniel/Fadderjobb" target="_blank">GitHub-repo</a>.
    </p>
{% endblock content %}
