{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Jobbanmälan - {% endblock title %}

{% block head %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="{% static 'css/jobsignup.css' %}">
{% endblock head %}

{% block scripts %}
    <script src="{% static 'js/jobsignup.js' %}"></script>
{% endblock scripts %}

{% block content %}
    {% if user.is_staff %}
        <a href="{% url 'admin:fadderanmalan_job_add' %}" target="_blank">Lägg till nytt jobb</a>
    {% endif %}

    <form action="{% url 'fadderanmalan:jobsignup' %}" method="get" id="filter-container">
        <input class="form-control" placeholder="Jobbnamn" type="text" aria-label="Jobbnamn"
               aria-describedby="basic-addon2" name="search" value="{{ filter_search }}" id="filter-name">
        <div class="filter filter-checkbox-container" id="filter-signedup">
            <div>Anmäld</div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="signedup"
                           value="0" {% if filter_signedup == "0" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-no"></span>
                </label>
            </div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="signedup"
                           value="1" {% if filter_signedup == "1" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-yes"></span>
                </label>
            </div>
            <div class="filter-checkbox-caret"></div>
        </div>
        <div class="filter filter-checkbox-container" id="filter-full">
            <div>Fullt</div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="full"
                           value="0" {% if filter_full == "0" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-no"></span>
                </label>
            </div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="full"
                           value="1" {% if filter_full == "1" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-yes"></span>
                </label>
            </div>
            <div class="filter-checkbox-caret"></div>
        </div>
        <div class="filter filter-checkbox-container" id="filter-leavequeue">
            <div>Faddrar vill lämna</div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="leavequeue"
                           value="0" {% if filter_leavequeue == "0" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-no"></span>
                </label>
            </div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="leavequeue"
                           value="1" {% if filter_leavequeue == "1" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-yes"></span>
                </label>
            </div>
            <div class="filter-checkbox-caret"></div>
        </div>
        <div class="filter filter-checkbox-container" id="filter-enterqueue">
            <div>Faddrar köar</div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="enterqueue"
                           value="0" {% if filter_enterqueue == "0" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-no"></span>
                </label>
            </div>
            <div class="filter-checkbox">
                <label>
                    <input type="checkbox" name="enterqueue"
                           value="1" {% if filter_enterqueue == "1" %}checked{% endif %}>
                    <span class="form-check-label form-check-label-yes"></span>
                </label>
            </div>
            <div class="filter-checkbox-caret"></div>
        </div>
        <div class="filter filter-select">
            <label for="filter-jobtype">Typ</label>
            <select id="filter-jobtype" name="jobtype">
                <option></option>
                {% for type in jobtypes %}
                    <option value="{{ type }}" {% if filter_jobtype == type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary filter-button" type="submit">Filtrera</button>
    </form>

    {% for day, jobs in day_grouped.items %}
        <h2 class="day">{{ day }}</h2>
        <div class="joblist">
            {% for job in jobs %}
                <a href="{% url 'fadderanmalan:jobsignup_detail' job.slug %}"
                   class="job {{ job.full_status }} {{ job.locked_status }}">
                    <div class="job-title">
                        <h3>
                            {% if request.user.is_authenticated and request.user.fadder in job.fadders.all %}
                                <i class="far fa-check-circle"
                                   data-toggle="tooltip" data-placement="left" title="Du är registrerad på jobbet">
                                </i>
                            {% endif %}
                            {{ job.short_name }}
                        </h3>
                        <div class="job-status">
                            {% if job.has_enter_queue %}
                                <i class="fas fa-caret-square-right"
                                   data-toggle="tooltip" data-placement="left" title="Faddrar köar för jobbet">
                                </i>{{ " " }}
                            {% endif %}
                            {% if job.has_leave_queue %}
                                <i class="fas fa-caret-square-left"
                                   data-toggle="tooltip" data-placement="left" title="Faddrar vill lämna jobbet">
                                </i>{{ " " }}
                            {% endif %}
                            {% if job.full %}
                                <i class="fas fa-ban"
                                   data-toggle="tooltip" data-placement="left" title="Jobbet är fullt">
                                </i>{{ " " }}
                            {% endif %}
                            {% if job.locked %}
                                <i class="fas fa-lock"
                                   data-toggle="tooltip" data-placement="left" title="Jobbet är låst">
                                </i>{{ " " }}
                            {% endif %}
                            {{ job.fadders.count }}/{{ job.slots }}
                        </div>
                    </div>
                    <div class="job-body">{{ job.short_desc }}</div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
