{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Topplistan - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/topchart.css' %}">
{% endblock head %}

{% block content %}
    <h1>Topplistan</h1>

    <table class="table">
        <tr>
            <th>Plats</th>
            <th>Fadder</th>
            <th>Poäng</th>
        </tr>
        {% for fadder in fadders %}
            <tr onclick="document.location='{% url 'accounts:profile' fadder.user.username %}'">
                <td>#{{ forloop.counter }}</td>
                <td>{{ fadder.user.username }}</td>
                <td>{{ fadder.points }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
