{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load fadderanmalan_components %}
{% load account_components %}

{% block title %}{{ job.name }} - {% endblock title %}

{% block head %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="{% sass_src 'sass/jobdetails.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/form.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/userlink.sass' %}">
{% endblock head %}

{% block content %}
    <div class="jobdetail">
        {% if request.user.is_staff %}
            <a href="{% url 'admin:fadderanmalan_job_change' job.id %}" target="_blank">Redigera jobb</a>
        {% endif %}
        <div class="header">
            <h1>
                {% if job.has_enter_queue %}
                    <i class="fas fa-caret-square-right"
                       data-toggle="tooltip" data-placement="bottom" title="Faddrar köar för jobbet">
                    </i>{{ " " }}
                {% endif %}
                {% if job.has_leave_queue %}
                    <i class="fas fa-caret-square-left"
                       data-toggle="tooltip" data-placement="bottom" title="Faddrar vill lämna jobbet">
                    </i>{{ " " }}
                {% endif %}
                {% if job.full %}
                    <i class="fas fa-ban"
                       data-toggle="tooltip" data-placement="bottom" title="Jobbet är fullt">
                    </i>{{ " " }}
                {% endif %}
                {% if job.locked %}
                    <i class="fas fa-lock"
                       data-toggle="tooltip" data-placement="bottom" title="Jobbet är låst">
                    </i>{{ " " }}
                {% endif %}
                {{ job.name }}
            </h1>
            <small>{{ job.date }}</small>
        </div>
        <h3>Beskrivning</h3>
        <p>
            {% if job.description %}
                {{ job.description }}
            {% else %}
                <i>Ingen beskrivning för detta jobb.</i>
            {% endif %}
        </p>
        <h3>Registrerade faddrar</h3>
        {% if job.users.count == 0 %}
            <p><i>Inga faddrar registrerade ännu.</i></p>
        {% else %}
            {% for user in job.users.all %}
                {% userlink user %}
            {% endfor %}
        {% endif %}
        <h3>Övrig information</h3>
        <table class="table jobdetails-table">
            <tr>
                <td>Uppskattad tidsåtgång</td>
                <td>{{ job.duration }} timm{{ job.duration|pluralize:"e,ar" }}</td>
            </tr>
            <tr>
                <td>Platser</td>
                <td>{{ job.slots }} person{{ job.slots|pluralize:",er" }}</td>
            </tr>
            <tr>
                <td>Poäng</td>
                <td>{{ job.points }}p</td>
            </tr>
            <tr>
                <td>Typer</td>
                <td>{% if job.types.all %}{{ job.types.all|join:", " }}{% else %}<i>Inga typer</i>{% endif %}</td>
            </tr>
        </table>

        {% if user.is_authenticated %}
            {% if registered_to_job %}  {# Registered #}
                <h3>Avanmälan</h3>
                {% if job.locked %}  {# Locked #}
                    {% if queued_leave_job %}  {# Has previously requested leave #}
                        <p><i>
                            Du står i kö för att avanmäla dig från det här jobbet. Vill du ta bort din köplats?
                        </i></p>
                        <form action="{% url 'fadderanmalan:jobsignup_register' job.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Ta bort min köplats" class="btn btn-primary">
                        </form>
                    {% else %}  {# Has not previously requested to leave #}
                        {% if job.has_enter_queue %}
                            <p><i>
                                Avanmälan till det här jobbet har stängt, men det finns faddrar som vill ta din plats.
                            </i></p>
                            <form action="{% url 'fadderanmalan:jobsignup_deregister' job.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Ge bort min plats" class="btn btn-primary">
                            </form>
                        {% else %}
                            <p><i>
                                Avanmälan till det här jobbet har stängt. Du kan fortfarande skicka en förfrågan om att
                                inte jobba på detta pass, men din förfrågan kanske inte godkänns.
                            </i></p>
                            <form action="{% url 'fadderanmalan:jobsignup_deregister' job.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Ställ mig i kön" class="btn btn-primary">
                            </form>
                        {% endif %}
                    {% endif %}
                {% else %}  {# Not locked #}
                    <form action="{% url 'fadderanmalan:jobsignup_deregister' job.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Avanmäl mig" class="btn btn-primary">
                    </form>
                {% endif %}
            {% else %}  {# Not registered #}
                <h3>Anmälan</h3>
                {% if job.full %}  {# Full #}
                    {% if queued_enter_job %}  {# Previously queued for job #}
                        <p><i>Du står i kö till jobbet. Vill du ta bort din köplats?</i></p>
                        <form action="{% url 'fadderanmalan:jobsignup_deregister' job.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Ta bort min köplats" class="btn btn-primary">
                        </form>
                    {% else %}  {# Has not previously queued for job #}
                        {% if job.has_leave_queue %}
                            <p><i>Jobbet är fullsatt, men det finns faddrar som vill lämna passet.</i></p>
                            <form action="{% url 'fadderanmalan:jobsignup_register' job.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Ta en plats" class="btn btn-primary">
                            </form>
                        {% else %}
                            <p><i>Jobbet är fullsatt. Du kan ställa dig i kö till jobbet.</i></p>
                            <form action="{% url 'fadderanmalan:jobsignup_register' job.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Ställ mig i kön" class="btn btn-primary">
                            </form>
                        {% endif %}
                    {% endif %}
                {% else %}  {# Not full #}
                    <form action="{% url 'fadderanmalan:jobsignup_register' job.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Anmäl mig" class="btn btn-primary">
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
