{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load components %}

{% block title %}Jobbanmälan - {% endblock title %}

{% block head %}
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="{% sass_src 'sass/jobsignup.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/job.sass' %}">
    <link rel="stylesheet" href="{% sass_src 'sass/components/filter_checkbox.sass' %}">
{% endblock head %}

{% block scripts %}
    <script src="{% static 'js/jobsignup.js' %}"></script>
{% endblock scripts %}

{% block content %}
    {% if user.is_staff %}
        <a href="{% url 'admin:fadderanmalan_job_add' %}" target="_blank">Lägg till nytt jobb</a>
    {% endif %}

    <form action="{% url 'fadderanmalan:jobsignup' %}" method="get" id="filter-container">
        <input class="filter filter-search form-control" placeholder="Jobbnamn" type="text" aria-label="Jobbnamn"
               aria-describedby="basic-addon2" name="search" value="{{ filter_search }}" id="filter-name">
        <div class="filter filter-dropdown-container dropdown" id="filter-jobtype">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if filter_jobtype %}{{ filter_jobtype }}{% else %}Välj jobbtyp{% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item filter-dropdown-reset">&ltta bort val&gt</div>
                {% for type in jobtypes %}
                    <div class="dropdown-item">{{ type }}</div>
                {% endfor %}
            </div>
            <input type="hidden" name="jobtype" value="{{ filter_jobtype }}" title="jobtype">
        </div>
        <div class="filter filter-dropdown-container dropdown" id="add-filter">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lägg till filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item filter-add" data-filter-id="filter-signedup"
                        {% if filter_signedup %} style="display: none;" {% endif %}>Anmäld
                </div>
                <div class="dropdown-item filter-add" data-filter-id="filter-full"
                        {% if filter_full %} style="display: none;" {% endif %}>Fullt
                </div>
                <div class="dropdown-item filter-add" data-filter-id="filter-leavequeue"
                        {% if filter_leavequeue %} style="display: none;" {% endif %}>Faddrar vill lämna
                </div>
                <div class="dropdown-item filter-add" data-filter-id="filter-enterqueue"
                        {% if filter_enterqueue %} style="display: none;" {% endif %}>Faddrar köar
                </div>
            </div>
        </div>
        {% filter_checkbox_component "Anmäld" "filter-signedup" filter_signedup %}
        {% filter_checkbox_component "Fullt" "filter-full" filter_full %}
        {% filter_checkbox_component "Faddrar vill lämna" "filter-leavequeue" filter_leavequeue %}
        {% filter_checkbox_component "Faddrar köar" "filter-enterqueue" filter_enterqueue %}
        <button class="btn btn-primary filter-button" type="submit">Filtrera</button>
    </form>

    <hr class="divider">

    {% for day, jobs in day_grouped.items %}
        <h2 class="job-day">{{ day }}</h2>
        <div class="joblist">
            {% for job in jobs %}
                {% job_component job %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
