{% extends "base.html" %}
{% load static from staticfiles %}
{% load sass_tags %}
{% load components %}

{% block title %}Topplistan - {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% sass_src 'sass/topchart.sass' %}">
{% endblock head %}

{% block content %}
    <h1>Topplistan</h1>

    <table class="table">
        <tr class="table-header">
            <th>Plats</th>
            <th>Fadder</th>
            <th>Poäng</th>
        </tr>
        {% for user in users %}
            <tr onclick="document.location='{% url 'accounts:profile' user.username %}'" class="table-row">
                <td>#{{ forloop.counter }}</td>
                <td>{{ user.username|upper }}</td>
                <td>{{ user.points }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
