{% extends "base.html" %}
{% load static from staticfiles %}
{% load components %}

{% block title %}Topplistan - {% endblock title %}

{% block head %}
    {% load_sass 'topchart' %}
{% endblock head %}

{% block content %}
    <h1>Topplistan</h1>

    <table class="table">
        <tr>
            <th>Plats</th>
            <th>Fadder</th>
            <th>Poäng</th>
        </tr>
        {% for user in users %}
            <tr onclick="document.location='{% url 'accounts:profile' user.username %}'">
                <td>#{{ forloop.counter }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.points }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
