body.mobile
    font-size: 200%

    .nav-link
        font-size: 250%
        padding: 1.3rem .75rem

    .navbar-toggler
        width: 5vh
        height: 5vh
        font-size: 300%

        background-color: lightgray

        transition: background-color .1s linear

        &:focus
            outline: none

        &[aria-expanded=false]
            background-color: transparent

    .navbar-brand
        font-size: 300%

    h1, h2, h3
        font-size: 150%
        margin-top: 4rem
        margin-bottom: 1rem

        &:first-of-type
            margin-top: 0

    .content
        padding: 2vh 2vw

    .tooltip
        font-size: 150%
