body.mobile
    form
        input
            display: block
            text-align: center
            margin: 0 auto 40px
            &:not([type=checkbox])
                font-size: 130%
                height: 90px
                width: 80vw
                max-width: 100vw

        label
            display: block
            text-align: center

        textarea
            font-size: 130%
            line-height: 130%
            padding: 40px 20px
            text-align: left
            min-width: 80vw
            max-width: 80vw
            margin: 0 auto 40px

        .errorlist
            text-align: center

        button
            font-size: .8em
            padding: 25px 40px

            display: block
            margin: 0 auto
