body.mobile
    form
        *
            display: block
            text-align: center
            margin: 0 auto 40px

        input
            font-size: 130%
            height: 5vh
            width: 80vw
            max-width: 100vw

        label
            margin: 0 auto

        [type=submit]
            height: 5vh
