body.mobile
    .job
        min-width: 94vw
        padding: 20px 30px

    .filter-checkbox-label
        padding-top: 0
        margin-top: .5em

    input
        font-size: 150%

    .filter, .filter-button
        min-width: 94vw
        height: 4vh

    .filter-button
        font-size: 130%
        height: 2em

    .filter-checkbox
        float: right

    .filter-search
        font-size: 120%

    .filter-checkbox-wrapper
        display: flex
        flex-direction: row
        justify-content: space-between

    .dropdown-item
        font-size: 300%

    .dropdown-toggle
        padding: 0 15px

    .divider
        border: 2px solid rgba(0, 0, 0, .1)
